body{

}

h1{
	font-family: Josefin Sans, sans-serif;
	font-size: 50px;
	text-align:center;
	margin-top: 5rem;
}

.pic{
	float: left;
	display: inline;
	width: 100%;
	height: 100%;
}

p{
	font-family: Josefin Sans, sans-serif;
	font-size: 20px;
	text-align: left;
}

a.link:visited {
    color:white;
    }

a.link:hover {
    color: white;
    border-bottom: 1px white solid;
    }

a.link:active {
    color: white;
    }

#homepage {
	font-size: 20px;
	font-family: sans-serif;
	margin-top: 5%;
}