/*
 * Header
 */

 body{
 
 	background-color:black;

 }

 .head {
  margin-bottom: 3rem;
  margin-left:15%;
  margin-top: 8rem;
  font-size: 80px;
  font-family: 'Sacramento', cursive;
  color: white;
}

.intro {
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 15%;
  font-size: 25px;
  text-align: left;
  font-family: 'Josefin Sans',sans-serif;
  background-color: white;
  color:black;
  opacity: 1;
}

.navi{
	margin-left: 10rem;
	margin-right: 15rem;
	margin-top: -5%;
	text-align: right;
}
.nav-link {
	margin-left: 5rem;
	font-size: 20px;
	font-family: Futura,sans-serif;
	color: white;
	padding:5px;
}


a.nav-link:visited {
    color:white;
    }

a.nav-link:hover {
    color: #961F27;
    border-bottom: 0px #961F27 solid;
    background-color: #b27f7f;
    padding: 5px;
    }

a.nav-link:active {
    color: #961F27;
    }

/*
 * Intro
 */
.myintro,.contact{
  	margin-top: 25%;
  	background-color: white;
  	opacity: 1;
  	font-family: Futura,sans-serif;
  	margin-left: 15%;
  	margin-right: 15%;
}

#para{
	margin-left: 15%;
  	margin-right: 15%;
  	font-size: 17px;
  	text-align: left;	
  	background-color: white;
}

#aboutme{
	margin-top: 100px;
	font-size: 25px;
	text-align: center;
}

#para1{
	margin-left: 15%;
  	margin-right: 15%;
  	font-size: 20px;
  	text-align: left;	
  	background-color: white;
}
